<div class="featured">
  <div class="row flex-center flex-between">
    <div class="col-6 featured-title">
      <span class="hide-on-desktop top-decoration p-t-50">
        <img src="./../../../../../assets/media/mobo-3dots-texture.svg" alt="3 dots texture">
      </span>
      <h2>The <span class="theme-blue-color">Benefits</span> of using Filed</h2>
    </div>
    <div class="col-6 featured-content">
      <span class="flex flex-center">
        <img src="../../../../../assets/media/check.svg" alt="check">
        <p>Ability to scale using Dexter, our AI-powered marketing genius.</p>
      </span>
      <span class="flex flex-center">
        <img src="../../../../../assets/media/check.svg" alt="check">
        <p>Client Success Manager who will optimize your Facebook ad campaigns and focus on driving the best possible results for you.</p>
      </span>
      <span class="flex flex-center">
        <img src="../../../../../assets/media/check.svg" alt="check">
        <p>This is a limited time offer only.</p>
      </span>
    </div>
  </div>
</div>