<div class="gray-bg">
  <div class="row  footer flex-between">
    <div class="p-r-20">
      <h5 class="m-b-0">Copyright &copy; 2020. All Rights Reserved.</h5>
    </div>
    <div class="flex flex-wrap">
      <div class="footer-nav">
        <ul>
          <li>
            <a href="">HOME</a>
          </li>
          <li>
            <a href="">FEATURES</a>
          </li>
          <li>
            <a href="">TERMS</a>
          </li>
          <li>
            <a href="">PRIVACY</a>
          </li>
          <li>
            <a href="">CONTACT US</a>
          </li>
        </ul>
      </div>
      <div class="social-icons">
        <a href="https://www.facebook.com/filedai/" target="_blank">
          <img src="../../../../../assets/media/social-icons/facebook.svg" alt="facebook icon">
        </a>
        <a href="https://www.instagram.com/filed_AI/" target="_blank">
          <img src="../../../../../assets/media/social-icons/instagram.svg" alt="instagram icon">
        </a>
        <a href="https://twitter.com/filed_ai" target="_blank">
          <img src="../../../../../assets/media/social-icons/twitter.svg" alt="twitter icon">
        </a>
      </div>
    </div>
  </div>
</div>