<div class="landing-page-banner">
  <div class="row">
    <div class="col-6">
      <div class="landing-page-banner-content">
        <h1>Book a demo today and get two weeks for <span class="theme-blue-color">free</span>. Why?</h1>
        <h3>Because Our AI-Powered Software Will Exceed Your Marketing Goals.</h3>
      </div>
      <div class="landing-page-banner-image hide-on-mobile">
        <span class="texture"><img src="./../../../assets/media/blue-texture.svg" alt="blue-texture"></span>
        <img  class="hide-on-mobile" src="../../../assets/media/Artboard.png" alt="">
      </div>
    </div>
    <div class="col-6 decoration flex flex-end">
      <span class="decoration-circle hide-on-mobile">
      </span>
      <span class="texture">
        <img src="../../../../../assets/media/Repeat-Grid.svg" alt="">
      </span>
      <app-payment-form></app-payment-form>
    </div>
  </div>
</div>